.item:nth-child(1) {
  background: url('/illustration.png');
}
.item:nth-child(2) {
  background: url('/websites.jpg');
}
.item:nth-child(3) {
  background: url('/apps.jpg');
}

.item {
  background-size: cover !important;
}
