@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  background-color: white;
  color: #111;
}
.dark {
  background-color: #111;
  color: white;
}

.theme {
  transition: 1s all ease;
}
